$topbar-background-color: #c4c4c4;
$login-background-color: #dbd1d1;
$resources-background: #9e9e9e;
$server-background: #efecec;
$server-border-color: #858585;
$legend-background: #d3d3d3;
$background-color: #ece8e8;

$value-color: rgb(61, 233, 61);
$value-zero-color: red;
$error: $value-zero-color;
