<div class="header">Servers:</div>
<div class="list" *ngIf="servers">
  <div class="list-items">
    <div
      class="item"
      *ngFor="let server of servers"
      [class.item-selected]="isSelected(server)"
      (click)="selectServer(server)"
    >
      <div class="item-name">{{ server.name }}</div>
      <div class="item-address">
        <span class="item-address-ip">{{ server.address.address }}</span>
        :
        <span class="item-address-port">{{ server.address.port }}</span>
      </div>
    </div>
  </div>
</div>
