@use "src/app/styles/colors";

.header {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.list {
  border-radius: 0.25rem;
  background-color: colors.$resources-background;
  padding: 0.2rem;

  &-items {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    overflow: auto;
    overflow-x: hidden;
    max-height: 65vh;
  }

  .item {
    padding: 0.2rem 1rem;
    border: 0.04rem solid colors.$server-border-color;
    background-color: colors.$server-background;

    &:hover {
      background-color: colors.$server-hover-background;
    }

    &-selected {
      background-color: colors.$server-selected-background;

      &:hover {
        background-color: colors.$server-selected-background;
      }
    }
  }
}
