@use "src/app/styles/colors";

.header {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.details {
  display: flex;
  border-radius: 0.5rem;
  background-color: colors.$resources-background;
  padding: 0.2rem;

  .resources {
    width: 50%;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
  }

  .machines {
    width: 50%;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;

    &-list {
      width: 50%;
      border-radius: 0.25rem;
      background-color: colors.$legend-background;
      padding: 0.2rem;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &-header {
      font-size: 1.3rem;
      text-align: center;
    }

    &-item {
      border-radius: 0.25rem;
      background-color: colors.$resources-background;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
